
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test results
/coverage
/.nyc_output

# Minified files, logs, temporary files
*.min.js
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp
tmp

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.sublime/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env*.local
.env

# Firebase
.firebase

# Patch-package
patches/
